 *  { margin:0; padding:0; }

 html,body { height: 100%; background-color: white;}

@font-face{
	font-family: Adventure;
	src: url("fonts/Adventure.ttf");

}

/* ------------------------ Cabeçalho -------------------------*/
header {
	z-index: 100;
	position: fixed;
	display: block;
	width: 100%;
	height: 60px;
	background-color: #000;
	margin: 0 auto;
	box-shadow: 0 0 8px #000;
}

.logout{
	display: inline-block;
	float:  right;
	margin-right: 3%;
	width: 80px;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	text-align: center;
	font-family: Tahoma;
	font-size: 14px;
	color: white;
	cursor: pointer;
	border-left: 1px solid #444;
	border-right: 1px solid #444;
}

.logout:hover{
	background-color: #ff8c00;
	color: white;
}

.conteudo-cabecalho{
	display: inline-block;
	padding: 0 5px;
	width: 300px; height: 60px;
	cursor: pointer;
}

.conteudo-cabecalho:hover{
	background-color: #ff8c00;
	color: white;
}

.conteudo-cabecalho:hover.conteudo-cabecalho h1{
	color: white;
}

.conteudo-cabecalho h1{

	position: relative;
	color: #ff8c00;
	font-family: Adventure;
	display: inline-block;
	margin-left: 10px;
	line-height: 60px;
}


.imgLogoCabecalho {
	
	margin-left: 3%;
	margin-top: -10px;
	width: 80px;
	height: 80px;
	float: left;
}



/* ------------------------- Menu --------------------------*/
.conteudo-menu {
	position: fixed;
	display: inline-block;
	width: 18%; height: 100%;
	background-color: #e9e9e9;
	top: 40px;
	bottom: 0;
	left: 0;
	border-left: 8px solid #000;
	box-shadow: 0 0 8px #000;
	z-index: 50;
}

.conteudo-menu ul {

	list-style: none;
	z-index: 20;
	margin: 0;
	padding: 0;
}

.conteudo-menu ul li {
	
	height: 22px; padding: 13px;
	line-height: 36px;
	position: relative;
	border-bottom: 1px solid #666;
	background-color: #e9e9e9;
	cursor: pointer;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	
	font: 13px Tahoma; color: #000;
}

.conteudo-menu > ul > li:first-child{
	margin-top: 25px;
	border-top: 1px solid #666;
}

.conteudo-menu ul ul > li:first-child{
	
	border-top: 1px solid #666;
}

.conteudo-menu ul li:hover {
	
	background-color: #ff8c00;
	display: block;
	text-decoration: none;
	color: #fff;
}

.conteudo-menu > ul > li > ul {
	
	display: none;
	transition: all 0.3s;
	position: absolute;
	width: 100%;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	left: 100%; top: -2%;
	box-shadow: 0 0 8px #000;
}

.conteudo-menu ul li:hover > ul {

	display: block;
}


.imgItemMenu {
	
	padding-right: 15px;
	width: 19px;
	height: 19px;
}

/*
#conteudo-menu > ul > li:nth-of-type(3)::after {

	content: "+";
	position: absolute;
	margin-left: 35%;
	color: #000;
	font-size: 20px;
}*/

/* ------------------------- Conteudo --------------------------*/
.conteudo {
	width: calc(82% - 80px);
	height: auto;
	float: right;
	bottom: 0;
	margin: 80px 40px 60px;
}

.conteudo h1{
	margin: 15px 0 30px;
	font-family: Tahoma;
	font-size: 18px;
	text-indent: 25px;
	line-height: 21px;
	text-align: justify;
}

.conteudo p{
	margin: 10px 0;
	font-family: Tahoma;
	font-size: 14px;
	text-indent: 40px;
	line-height: 17px;
	text-align: justify;
}


.conteudo input{
	display: inline-block;
	height: 30px; min-width: 200px;
	padding: 10px 6px;
	margin: 6px 10px;
	outline: none;
	font: 14px Tahoma;
}

.conteudo input[type="date"]{
	display: inline-block;
}

.conteudo label{
	font-family: Tahoma;
	font-size: 14px;
	margin-left: 10px;
}

.conteudo select{
	display: inline-block;
	min-width: 215px;
	height: 48px!important;
	padding: 8px 6px;
	margin: 10px 10px;
	outline: none;
	font: 14px Tahoma;
}

.conteudo textarea{
	display: block;
	min-width: 215px;
	width: 300px;
	height: 80px!important;
	padding: 8px 6px;
	margin: 10px 10px;
	outline: none;
	font: 14px Tahoma;
}

.conteudo ul li {
	font: 14px Tahoma;
	margin-left: 60px;
}

div[class*="opt"]{
	display: none;
}

button[class*="btn"]{
	margin-left: 60%;
	margin-top: 30px;
	display: inline-block;
	top: 70px; left: 50px;
	background-color: #000;
	margin-right: 30px; outline: none;
	padding: 12px 8px; border: 0;
	text-align: center;
	line-height: 30px;
	box-shadow: 0 0 8px #000; cursor: pointer;
	font: 16px Tahoma; color: #fff;
	margin-bottom: 50px;
}

button[class*="btn"]:hover{
	background-color: #ff8c00;
}

/*--------------- TABELA ----------------------*/

table{
	margin: 15px auto;
	font-family: Tahoma;
	min-width: 850px;
}

th{
	padding: 8px 15px;
	color: #fff;
	background-color: #ff8c00;
	font-size: 13px;
	text-align: left;
}

td{
	padding: 8px 15px;
	text-align: left;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}

/*---------------------------------------------*/

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

/*table {
  color: #333;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 300;
  text-align: left;
  line-height: 40px;
  border-spacing: 0;
  border: 2px solid #ff8c00;
  width: 80%;
  margin: 50px auto;
}

thead tr:first-child {
  background: #ff8c00;
  color: #fff;
  border: none;
  width: 80%;
}

th {font-weight: bold;}
th:first-child, td:first-child {
	padding: 0 15px 0 20px;
}

thead tr:last-child th {border-bottom: 3px solid #000;}

tbody tr:hover {background-color: #ff8c00;}
tbody tr:last-child td {border: none;}
tbody td {border-bottom: 1px solid #ddd;}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

.button {
  color: #696969;
  padding-right: 5px;
  cursor: pointer;
}

.alterar:hover {
  color: #0a79df;
}

.excluir:hover {
  color: #dc2a2a;
}*/
/*---------------------------------------------*/

#listaEncomendasViagem{
	display: none;
}